html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

/* .Clock {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  transform: rotate(30deg);
} */

.block {
  height: 50px;
  width: 50px;
}

/* .main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 15% 40% 40%;
  grid-template-rows: 15% 80%;
  grid-template-areas:
    "header header header"
    "side data data";
} */

/* .header {
  grid-area: header;
  background-color: black;
}

.side {
  grid-area: side;
  background-color: green;
}

.data {
  grid-area: data;
  background-color: blue;
} */
